## WELCOME

In this notebook we are going to examine the accident severity dataset. The dataset has 1 label column and 37 feature columns.

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

# Problem

In this project I am going to try to find the most influential factor on a car accident severity level. By doing that we can take precautions and try to prevent possible accidents before it happened or lower the serenity level.

# Data

In [3]:
# The code was removed by Watson Studio for sharing.

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
df_data.describe(include='all')

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,194673,194673,192747,65070.000000,...,189661,189503,4667,1.149360e+05,9333,194655,189769,194673.000000,1.946730e+05,194673
unique,NaN,NaN,NaN,NaN,NaN,NaN,194670,2,3,NaN,...,9,9,1,NaN,1,63,62,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,1776526,Matched,Block,NaN,...,Dry,Daylight,Y,NaN,Y,32,One parked--one moving,NaN,NaN,N
freq,NaN,NaN,NaN,NaN,NaN,NaN,2,189786,126926,NaN,...,124510,116137,4667,NaN,9333,44421,44421,NaN,NaN,187457
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,NaN,NaN,NaN,37558.450576,...,NaN,NaN,NaN,7.972521e+06,NaN,NaN,NaN,269.401114,9.782452e+03,NaN
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,NaN,NaN,NaN,51745.990273,...,NaN,NaN,NaN,2.553533e+06,NaN,NaN,NaN,3315.776055,7.226926e+04,NaN
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,NaN,NaN,NaN,23807.000000,...,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,NaN,NaN,NaN,28667.000000,...,NaN,NaN,NaN,6.040015e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,NaN,NaN,NaN,29973.000000,...,NaN,NaN,NaN,8.023022e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,NaN,NaN,NaN,33973.000000,...,NaN,NaN,NaN,1.015501e+07,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,NaN,NaN,NaN,757580.000000,...,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN,525241.000000,5.239700e+06,NaN

# Preprocessing

In [5]:
y_true = df_data['SEVERITYCODE']

In [6]:
df_data.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [7]:
X = df_data[['STATUS', 'ADDRTYPE', 'INTKEY', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'JUNCTIONTYPE', 
       'SDOT_COLCODE', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'ST_COLCODE',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR']]

Here, I took the columns that are necessary to my opinion from the dataframe. For example, 'OBJECTID' column is unique for every row so we don't need that column.

In [9]:
X.loc[X['UNDERINFL'] == 'N', ['UNDERINFL']] = '0'

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [10]:
X.loc[X['UNDERINFL'] == 'Y', ['UNDERINFL']] = '1'

Here I have replaced values 'N' with '0' and 'Y' with '1'

In [12]:
X.columns

Index(['STATUS', 'ADDRTYPE', 'INTKEY', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'JUNCTIONTYPE',
       'SDOT_COLCODE', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'ST_COLCODE', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [13]:
categorical_cols = ['STATUS', 'ADDRTYPE', 'SEVERITYDESC', 'COLLISIONTYPE', 'JUNCTIONTYPE', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'ST_COLCODE', 'HITPARKEDCAR']

In [14]:
numerical_col = ['INTKEY', 'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'SDOT_COLCODE', 'SEGLANEKEY', 'CROSSWALKKEY']

In [23]:
x_with_nan = pd.get_dummies(X, columns=categorical_cols, prefix=categorical_cols)
x_with_nan.head()

,INTKEY,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SEGLANEKEY,CROSSWALKKEY,STATUS_Matched,STATUS_Unmatched,...,ST_COLCODE_8,ST_COLCODE_81,ST_COLCODE_82,ST_COLCODE_83,ST_COLCODE_84,ST_COLCODE_85,ST_COLCODE_87,ST_COLCODE_88,HITPARKEDCAR_N,HITPARKEDCAR_Y
0,37475.0,2,0,0,2,11,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,NaN,2,0,0,2,16,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,NaN,4,0,0,3,14,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,NaN,3,0,0,3,11,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,34387.0,2,0,0,2,11,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [19]:
!pip install impyute
from impyute.imputation.cs import mice

Requirement already satisfied: impyute in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.0.8)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from impyute) (1.15.4)
Requirement already satisfied: scipy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from impyute) (1.2.0)
Requirement already satisfied: scikit-learn in /opt/conda/envs/Python36/lib/python3.6/site-packages (from impyute) (0.20.3)

In [21]:
x_imputed = mice(x_with_nan.values)
x_imputed

array([[3.74750000e+04, 2.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [3.88774749e+04, 2.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [2.92920746e+04, 4.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       ...,
       [2.47600000e+04, 3.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [2.43490000e+04, 2.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [3.84329463e+04, 2.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

In [24]:
x = pd.DataFrame(data=x_imputed, columns=x_with_nan.columns)
x.head()

,INTKEY,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SEGLANEKEY,CROSSWALKKEY,STATUS_Matched,STATUS_Unmatched,...,ST_COLCODE_8,ST_COLCODE_81,ST_COLCODE_82,ST_COLCODE_83,ST_COLCODE_84,ST_COLCODE_85,ST_COLCODE_87,ST_COLCODE_88,HITPARKEDCAR_N,HITPARKEDCAR_Y
0,37475.000000,2.0,0.0,0.0,2.0,11.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,38877.474935,2.0,0.0,0.0,2.0,16.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,29292.074647,4.0,0.0,0.0,3.0,14.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,32796.662010,3.0,0.0,0.0,3.0,11.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,34387.000000,2.0,0.0,0.0,2.0,11.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Here, I used Multivariate Imputation by Chained Equations for missing values. The MICE algorithm can impute mixes of continuous, binary, unordered categorical and ordered categorical data.

# Training and Feature Selection

In [32]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression

embeded_lr_selector = SelectFromModel(LogisticRegression(penalty="l1"), max_features=len(x.columns))
embeded_lr_selector.fit(X_norm, y_true)

embeded_lr_support = embeded_lr_selector.get_support()
embeded_lr_feature = x.loc[:,embeded_lr_support].columns.tolist()
print(str(len(embeded_lr_feature)), 'selected features')

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

11 selected features

In [33]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

embeded_rf_selector = SelectFromModel(RandomForestClassifier(n_estimators=100), max_features=len(x.columns))
embeded_rf_selector.fit(x, y_true)

embeded_rf_support = embeded_rf_selector.get_support()
embeded_rf_feature = x.loc[:,embeded_rf_support].columns.tolist()
print(str(len(embeded_rf_feature)), 'selected features')

7 selected features

In [45]:
# put all selection together
feature_selection_df = pd.DataFrame({'Feature':x.columns.tolist(), 'Logistics':embeded_lr_support,
                                    'Random Forest':embeded_rf_support})
# count the selected times for each feature
feature_selection_df['Total'] = np.sum(feature_selection_df, axis=1)
feature_selection_df = feature_selection_df.sort_values(['Total','Feature'] , ascending=False)
feature_selection_df.index = range(1, len(feature_selection_df)+1)

Here, I used scikit-learn's SelectFromModel to measure feature importance of the model using Logistic Regression and Random Forest. SelectFromModel is a meta-transformer that can be used along with any estimator that has a coef_ or feature_importances_ attribute after fitting.

# Result

In [46]:
feature_selection_df.head(20)

,Feature,Logistics,Random Forest,Total
1,ST_COLCODE_32,True,True,2
2,SEVERITYDESC_Property Damage Only Collision,True,True,2
3,SEVERITYDESC_Injury Collision,True,True,2
4,COLLISIONTYPE_Parked Car,True,True,2
5,WEATHER_Clear,True,False,1
6,UNDERINFL_0,True,False,1
7,STATUS_Matched,True,False,1
8,ROADCOND_Dry,True,False,1
9,PEDCOUNT,False,True,1
10,LIGHTCOND_Daylight,True,False,1
11,LIGHTCOND_Dark - Street Lights On,True,False,1
12,INTKEY,False,True,1
13,COLLISIONTYPE_Pedestrian,False,True,1
14,ADDRTYPE_Block,True,False,1
15,WEATHER_Unknown,False,False,0
16,WEATHER_Snowing,False,False,0
17,WEATHER_Sleet/Hail/Freezing Rain,False,False,0
18,WEATHER_Severe Crosswind,False,False,0
19,WEATHER_Raining,False,False,0
20,WEATHER_Partly Cloudy,False,False,0

Based on the feature selection process, feature columns named 'ST_COLCODE_32', 'SEVERITYDESC_Property Damage Only Collision', 'SEVERITYDESC_Injury Collision', 'COLLISIONTYPE_Parked Car' are the ones that influenced the target variable.

ST_COLCODE is a code provided by the state that describes the collision and 32 means 'One Parked - One Moving'. I did not include any validation for this but I assume the rows that has the value of 1 for this column has severity code 1 which means property damage only collision. The accidents that has one parked one moving probably won't have much injuries.

SEVERITYDESC_Property Damage Only Collision and SEVERITYDESC_Injury Collision shouldn't have been included to the dataset in the first place because SEVERITYDESC is the description of the SEVERITYCODE and matches in every row.

In [ ]:
I think COLLISIONTYPE_Parked Car can be interpreted the same as ST_COLCODE